* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
}

:root {
  font-size: 62.5%; /*equivale a 10px de 16px*/
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}